name: Android APK Builder

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip openjdk-17-jdk curl

      - name: Unzip project
        run: unzip fastdl-android.zip -d fastdl

      - name: Download Gradle Wrapper JAR
        run: |
          mkdir -p fastdl/gradle/wrapper
          curl -L -o fastdl/gradle/wrapper/gradle-wrapper.jar https://services.gradle.org/distributions/gradle-7.6-bin.zip

      - name: Make gradlew executable
        run: chmod +x fastdl/gradlew

      - name: Build APK
        working-directory: fastdl
        run: ./gradlew assembleRelease

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: FastDL-Android-APK
          path: fastdl/app/build/outputs/apk/release/*.apk
